@import '/src/app/globals.css';

.main { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.navbar {
  height: 5vh;
  display: flex;
  border-bottom: 1px solid var(--line);
  align-items: center;
}

.navbarsvg {
  fill: white;
}

.logo {
  height: 100%;
  padding-left: 2vw;
  display: flex;
  align-items: center;

}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh;
  gap: 5vw;
}

.gameItem {
  width: 35vw;
  height: 70vh;
  background-color: var(--secondary);
  border-radius: 1%;
}

.checkListTitle {
  height: 5vh;
  background-color: var(--primary);
  border-radius: 1%;
  overflow: hidden;
  padding-top: 10px;
  text-align: center;
}

.birdList {
  overflow-y: auto;
  list-style: none;
  max-height: 65vh;
  padding-top: 2vh;
}

.birdListItem {
  padding-left: 2vw;
  padding-bottom: 2vh;
}

.date {
  font-size: 3rem;
}